@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap");

@import "tailwindcss";

@theme {
  --font-heading: "Inter", sans-serif;
  --font-body: "Manrope", sans-serif;
  --color-cream: #fbf9e4;
  --color-blue: #122c4f;
  --color-gold: #c8a96e;
  --color-lightblue: #5b88b2;
  --color-black: #111111;
  --color-white: #fcfcfc;
  --animate-marquee: marquee 15s linear infinite;

  @keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-33.33%);
  }
}
}

@layer base {
  * {
    @apply m-0 p-0 box-border;
  }

  html,
  body {
    @apply overflow-x-hidden font-body bg-white text-black;
  }

  img {
    @apply w-full h-full object-cover;
  }
}

/* Hide scrollbar for marquee and slide effects */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Base fade-up and scroll draw line elements */
.timeline-mask {
  mask-image: linear-gradient(
    to bottom,
    transparent,
    black 15%,
    black 85%,
    transparent
  );
}

/* Soft glassmorphism utility */
.glass-panel {
  background: rgba(25, 25, 27, 0.45);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.04);
}

.animate-spin-slow {
  animation: spin-slow-keyframe 18s linear infinite;
}



@keyframes spin-slow-keyframe {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
